.container {
  animation: animationMobile 60s linear infinite forwards;
}

@keyframes animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes animationMobile {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500%);
  }
}

@media screen and (min-width: 768px) {
  .container {
    animation: animation 40s linear infinite forwards;
  }
}