.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 5rem 1fr auto;
}

.principal {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.plants {
  grid-column: 4/8;
  grid-row: 2 / 3;
}

.text {
  grid-column: 4/8;
  grid-row: 3 / 4;
}